.Product-Container {
}

.Product-Container-image {
    width: 100%;
    height: 50vh;
    object-fit: contain;
    margin-top: 10px;
}

.Product-Container-title {
    font-size: 100px;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

.Product-Container-title a {
    text-decoration: none;
    color: black;
}

.Product-Container-description-title {
    font-size: 30px;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
}

.Product-Container-DESC { 
    background: #ececec;
}

.Product-Container-description {
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-family: Times New Roman (serif);
    text-align: center;
    width: 96vw;
    margin-right: auto;
    margin-left: auto;
}

.Product-Container-description ul {
    text-align: left;
}

.Product-Container-description ul li {
    margin-top: 10px;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}